@model ProyectoFinal.Models.ViewModels

<div class="container-fluid px-sm-1 py-5">
    <div class="row ">




        @foreach (var item in Model.lstproducts)
        {
            <div class="col-lg-5">
                <h1 class="h2"> @Html.DisplayFor(modelItem => item.ProductName)</h1>
                <h1 class="h2"> @Html.DisplayFor(modelItem => item.Price)</h1>

            </div>
        }

    <div class="form-group">
        <a class="btn btnMain" asp-controller="Home" asp-action="Index">Comprar</a>
        <a class="btn btnMain" asp-controller="Catalogo" asp-action="Index">Regresar al Catálogo</a>
        <a class="btn btnMain" asp-controller="Catalogo" asp-action="DeleteCarrito">Eliminar del Carrito</a>

    </div>


    </div>
</div>