
@{
    ViewData["Title"] = "DeleteCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Producto Eliminado</h1>

<div class="form-group">
    
    <a class="btn btnMain" asp-controller="Catalogo" asp-action="Index">Regresar al Catálogo</a>

</div>
