@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="row" style="margin-top:100px; margin-bottom:30px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 col-sm-12">
            <img style="width: 340px; height: 340px; " src="~/img/SillaLanding.png" alt="Fondo"></a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="titulo mt-5"> Space Decor</h3>
            <p class="desc">
                En Space Decor puedes encontrar productos ya fabricados y al mismo tiempo puedes diseñarlo a tu gusto, con un tiempo de entrega menor al de un negocio tradicional.
            </p>

            <div class="float-right" >
                <a class="btn btnMain" asp-controller="Catalogo" asp-action="Index">Catálogo</a>
                <a class="btn btnSecu" asp-controller="" asp-action="">A medida</a>
            </div>
           
        </div>
    </div>


    <div class="row" style="margin-top:100px; margin-bottom:30px;">
        <div class="col-lg-7 col-sm-12">
            <h3 style="color:sienna; margin-top:22px"> ¿Quienes Somos?</h3>
            <hr style="color:burlywood;"/>
            <p style="color: sienna;font-size: 18px; ">
                Space Decor, es un proyecto que nació en enero del 2021, como una idea convirtiéndose en sueño de tres estudiantes de CEUTEC, apasionados por los productos de madera, que aparte de ser necesarios en tu hogar le dan elegancia. En Space Decor puedes encontrar productos ya fabricados y al mismo tiempo puedes diseñarlo a tu gusto, con un tiempo de entrega menor al de un negocio tradicional.
            </p>
        </div>
            <div class="col-lg-5 col-sm-12">
                <img style="width: 340px; height: 340px; " src="https://www.soyvisual.org/sites/default/files/styles/twitter_card/public/images/photos/col_0005.jpg?itok=epLcBn24" alt="Fondo"></a>
            </div>
    </div>

</div>